#general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#dashboard-section {
    background-color: #f5f5f5;
    border: none;
    background-color: none;
    border-bottom: solid 1px black;
    font-size: 28px;
    min-width: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    align-self: flex-start;
    margin-left: 40px;
}
#dashboard-section:focus-visible {
    outline: none;
}
.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: solid 2px #2b2b2b; */
    /* padding: 60px; */
    margin-bottom: 40px;
}
.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    border: solid 2px #2b2b2b;
    margin-bottom: 40px;
}
.dash-chart {
    /* padding: 60px; */
    /* margin: 20px; */
    background-color: #EEEEEE;
    border: solid 1px #2b2b2b;
    border-radius: 9px;
    height: 400px;
    padding-bottom: 60px;
}.dash-chart:first-child {
    margin-right: 30px !important;
}
.chart-title {
    justify-content: center;
    display: flex;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    font-size: 20px;
    color: #2b2b2b;
}
#general-chart1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
}

#general-chart1 .chart-title {
    justify-content: space-around;
}
.chart-selection {
    width: 30%
}
#hours-dash {
    width: 25%;
    height: 25%;
}
#teste-dash {
    width: 25%;
    height: 25%;
}
#icon1 {
    background-color: rgb(41, 145, 237);
}
.progress-bar-container {
    display: flex;
    align-items: center;
    height: 80%;
}
.project-progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgb(45, 45, 45, 20%);
    border: solid 1px #2b2b2b;
    height: 60px;
    color: #f5f5f5;
}
.project-progress-bar h2 {
    position: absolute;
    align-self: center;
}
.project-progress-bar-actual {
    height: 60px;
    background-color: rgb(54, 162, 235)
}
#project1 .project-progress-bar-actual {
    width: 54%;
}
#project2 .project-progress-bar-actual {
    width: 35%;
}
#project3 .project-progress-bar-actual {
    width: 80%;
}
.project-estimate-date {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 18px;
}
.chart-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.role-chart-limit {
    font-size: 20px;
    font-weight: 600;
    color: rgb(200, 45, 0);
}