body{
    max-height: 100vh;
  }
  
  
  .icons-group {
    height: 60px;
    width: 80px;
  }
  
  #main-container {
    margin-top: 40px;
  }
  
  #search-project {
    align-self: flex-end;
  }
  
  #add-project-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .employee-tag-list {
    display: flex;
  }
  
.employee-tag-element {
    display: flex;
  }
  
.employee-view {
    height: 60px;
    display: flex;
    background-color: none !important;
    flex-direction: column;
    justify-content: center;
    color: #2b2b2b;
    padding: 20px;
}
.tag, .tag-button {
    margin-left: 10px;
}
.employee-view-button:hover {
    cursor: pointer;
}


  .icons-group:hover {
    transition: ease 500ms;
    background-color: rgb(41, 145, 237);
   }
  
   #icon3 {
    background-color: rgb(41, 145, 237);
   }
  
   #sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A2D82;
    color: white;
    text-align: center;
    height: 100vh;
    max-width: 80px;
  }
  
  .icons-group:hover {
  transition: ease 500ms;
  background-color: rgb(41, 145, 237);
  }
  
.employee-view-tables {
    text-align: center;
}