<div id="sidebar" class="col">
    <div class="row">
      <!-- icone do dashboard -->
      <a href="dashboard">
        <div>
          <img
            src="img/dashbord-icon.png"
            alt="dashboard-menu-icon"
            class="icons-group"
            id="icon1"
          />
        </div>
      </a>

      <!-- ícone de projetos -->
      <a href="projects">
        <div>
          <img
            src="img/projects-icon.png"
            alt="projects-menu-icon"
            class="icons-group"
            id="icon2"
          />
        </div>
      </a>

      <!-- icone de funcionarios -->
      <a href="employees">
        <div>
          <img
            src="img/employess-icon.png"
            alt="employee-menu-icon"
            class="icons-group"
            id="icon3"
          />
        </div>
      </a>

      <!-- icone de funções -->
      <a href="roles">
        <div>
          <img
            src="img/roles-icon.png"
            alt="roles-menu-icon"
            class="icons-group"
            id="icon4"
          />
        </div>
      </a>

      <!-- icone de logout -->
      <a href="/" id="icon-exit">
        <img
          src="img/logout-icon.png"
          alt="logout-icon"
          class="icons-group"
        />
      </a>
    </div>
  </div>