#sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A2D82;
    color: white;
    text-align: center;
    height: 100vh;
    max-width: 80px;
}

#sidebar a {
    color: #f5f5f5;
}
#page {
    background-color: rgb(204, 204, 204);
}
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #173FA0;
    color: white;
    height: 60px;
}
.btn{
    padding:10px;
    background-color: #173FA0;
    color: white;
    /* centraliza */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.btn:hover{
     /* Animação, mudar de cor quando passa o mouse */
     transition: ease 500ms;
    background-color: aliceblue;
    color: black;
}
.modal{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    background-color: #C3C4CA;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
     /* faz o display sumir */
    /* display: block; */
    /* declarei o nome da animação e a duração */
    animation: animate;
    animation-duration: 600ms;
}
#add-project{
    width: 80%;
}
 /* Colocando animação para suavizar */
 @keyframes animate{
     from{opacity: 1;}
     from{opacity: 0;}
 }
 .fechar{
     /*Icone para fechar*/
     width: 30px;
     height: 30px;
     background-color: black;
     border-radius: 50%;
     /*Passar para o outro lado*/
     float: right;
     /*cursor diferente para parecer clicavel*/
     cursor: pointer;
 }

 #dashboard{
     width: 70px;
     height: 70px;

 }

 #projetos{
    width: 70px;
    height: 70px;
}

 #funcionarios{
    width: 70px;
    height: 70px;
 }

 #input-projeto-div{
    float: left;


 }

 #dropdown-projeto-div{
    float: right;


 }
 
 .modal-body{
display: flex;
flex-direction: column;

 }
 #dropdown-nova-funcao{


    
 }