#sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A2D82;
    color: white;
    text-align: center;
    height: 100vh;
    max-width: 60px;
}
#sidebar a {
    color: #f5f5f5;
}
#page {
    background-color: rgb(204, 204, 204);
}
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #173FA0;
    color: white;
    height: 60px;
}

#container{
    position: absolute;
    top: 20%;
    left: 10%;
    background-color: transparent;
    border-radius: 3%;
    
}

.container{
    position: absolute;
    top:20%;
    left: 60%;

}

.progress-group{
    width: 450px;    

}

#dashboard{
    position: absolute;
    top: 15% ;
    left: 10% ;

}

#list-project{

    border: 2px solid;
    border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    overflow-y: scroll;
    top: 60%;
    left: 60%;

}