body{

    max-height: 100vh;
  
  
  }
  
  
  .icons-group {
    height: 60px;
    width: 80px;
  }
  
  #main-container {
    margin-top: 40px;
  }
  
  #search-project {
    align-self: flex-end;
  }
  

.project-view {
    height: 60px;
    display: flex;
    background-color: none !important;
    flex-direction: column;
    justify-content: center;
    color: #2b2b2b;
    padding: 20px;
}
.project-view-button:hover {
    cursor: pointer;
}
  
  #project-tag-list {
    display: flex;
  }
  
  #project-tag-element {
    display: flex;
  }
  
  .icons-group:hover {
    transition: ease 500ms;
    background-color: rgb(41, 145, 237);
   }
  
   #icon2 {
    background-color: rgb(41, 145, 237);
   }