body{

  max-height: 100vh;


}


.icons-group {
  height: 60px;
  width: 80px;
}

#main-container {
  margin-top: 40px;
}

#search-project {
  align-self: flex-end;
}

#add-project-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#employee-tag-list {
  display: flex;
}

#employee-tag-element {
  display: flex;
}
