#sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A2D82;
    color: white;
    text-align: center;
    height: 100vh;
    max-width: 60px;
}
#sidebar a {
    color: #f5f5f5;
}
#page {
    background-color: rgb(204, 204, 204);
}
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #173FA0;
    color: white;
    height: 60px;
}

.icons-group {
    height: 60px;
    width: 80px;
  }
  